/* Division styling */

/* headers */
.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navicon {
  background-image: url('Navicon2.png');
  height: auto;
  width: 420px;
  background-size: cover;
  background-position: bottom;
}

.mid_header {
  padding-top: 20px;
  background-color: black;
  width: 450px;
  height: auto;
  text-align: center;
}

.nav {
  display: inline-block;
  font-size: 25px;
  width: 420px;
  text-align: right;
  padding: 20px;
  background-color: black;
}

/* body section */

/* 1st body section */
.first_body_section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nyancat_img {
  background-image: url("Nyan-Cat-HD-Backgrounds.jpg");
  height: 400px;
  padding-left: 20px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
}

.nyancat_text {
  width: 100%;
  padding: 40px;
}

/* 2nd body section */
.second_body_section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.origintext {
  width: 100%;
  height: auto;
  padding: 40px;
}

.orginimg {
  height: auto;
  width: 100%;
  padding: 30px;
}

/* third body section */
.third_body_section {
  display: flex;
  justify-content: space-between;
}

.thirdbodytext {
  text-align: center;
  height: auto;
  width: 100%;
}

.thirdbodyimg {
  padding: 20px;
  height: auto;
  font-size: 10px;
  text-align: center;
}

.footer {
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footerlinks {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
}

.footerimg {
  background-image: url("HD-Nyan-Cat-Background-removebg-preview.png");
  width: 100%;
  height: 250px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

/* Elements styling */
ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 8px;
  text-align: center;
}

body {
  display: block;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

h1, p, li, a {
  color: white;
  text-decoration: none;
  text-align: center;
}
/* Audio player styling */
.audio-player {
  display: flex; 
  text-align: right;
  width:100%;
  height:auto;
}

#audio {
  display: none;
}

#playButton {
  background-color:black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#volumeSlider {
  width: 50px;
  margin-left: 10px;
}


/* Responsive styles */

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    position:static;
    top:0;
  }
  p,li,a{
    font-size:18px;
  }

  .navicon {
    display: block;
    width:100%;
    height:120px;
  }

  .mid_header {
    width: 100%;
  }

  .nav {
    width: 100%;
    text-align: center;
  }

  .first_body_section {
    flex-wrap: wrap;
  }

  .nyancat_img {
    height: 200px;
    width:100%;
    padding: 2px;
    margin:0;
    background-size: cover;
    background-position: left;
  }

  .nyancat_text {
    padding: 20px;
  }

  .second_body_section {
    flex-wrap: wrap;
  }

  .origintext, .orginimg {
    width: 100%;
  }

  .orginimg {
    padding: 20px 0;
    height:auto;
    width:100%;
  }
  .third_body_section {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .third_body_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .thirdbodytext {
    flex: 1 1 50%;
    padding: 20px;
    text-align: center;
  }
  
  .thirdbodyimg {
    padding-top:100px;
    flex: 1 1 50%;
    padding: 20px;
    text-align: center;
  }
  
  .thirdbodyimg img {
    max-width: 100%;
    height: auto;
  }

  .footer {
    flex-wrap: flex;
    height:auto;
  }

  .footerimg {
    height:300px;
    width:100%;
    padding: 0;
    margin: 0;
  }

  .footerlinks {
    width: 100%;
    text-align: center;
    height:auto;
    display:block;
    font-size:14px;
  }
}
